/* You can add global styles to this file, and also import other style files */
input[type="button"]
{
    border: none;
    outline:none;
}

a:active,
a:focus, a.btn.btn-link:focus{
  outline: none;
  border:none;

}